@page
@model ProyectoCiclo3.App.Frontend.Pages.ListRutasModel
@{
}
 
<h1>Listado de Rutas</h1>
<table class="table">
    <thead>
        <th>id</th>
        <th>origen</th>
        <th>destino</th>
        <th>tiempo_estimado</th>
    </thead>
    @foreach (var Ruta in Model.Rutas)
    {
        <tr>
            <td>@Ruta.id</td>
            <td>@Ruta.origen</td>
            <td>@Ruta.destino</td>
            <td>@Ruta.tiempo_estimado</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-RutaId="@Ruta.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-RutaId="@Ruta.id">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>
              </td>
        </tr>
    }
</table>