@page
@model ProyectoCiclo3.App.Frontend.Pages.ListEstacionesModel
@{
}
 
<table class="table">
  <thead>
      <th >#</th>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Coordenada X</th>
      <th>Coordenada Y</th>
      <th>Tipo</th>
      <th>Acciones</th>
  </thead>
  <tbody>
    @foreach (var estacion in Model.Estaciones)
    {
        <tr>
            <td>@estacion.id</td>
            <td>@estacion.nombre</td>
            <td>@estacion.direccion</td>
            <td>@estacion.coord_x</td>
            <td>@estacion.coord_y</td>
            <td>@estacion.tipo</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-estacionId="@estacion.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-estacionId="@estacion.id">Editar</a>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal_@estacion.id">
                Eliminar
              </button>
              <div class="modal fade" id="exampleModal_@estacion.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminacion de registro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Esta seguro que desea eliminar el estacion @estacion.nombre
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <form method="POST">
                      <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@estacion.id">
                      <button type="submit"class="btn btn-danger" href="">Eliminar</button>
                    </form>
                    </div>
                </div>
              </div>
            </div>
            </td>
        </tr>
    }
</table>